<form action="/api/book" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">isbn</label>
    <input type="text" name="isbn" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">title</label>
    <input type="text" name="title" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">author</label>
    <input type="text" name="author" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">publisher</label>
    <input type="text" name="publisher" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>